@use './../../../css/variables' as variables;


// ==========================================================================================


$db-overlay-title-color: #382169;
$db-overlay-background : white;
$db-overlay-bottom-border : lightgrey;


.sbModal {
      background-color: #fff;
      border: none;
      border-radius: 24px;
      box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      min-width: 300px;
      overflow: hidden;
      padding: 0;

      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 510;
      
      &::backdrop {
         background-color: #6e4e814d;
         backdrop-filter: blur(2px);
      }

      &[open] {
         
         @media screen and (min-width: 576px) {
            width: 550px;
            margin: 50px auto;
         }
   
         @media screen and (min-width: 992px) {
            width: 800px;
         }
   
         @media screen and (min-width: 1200px) {
            width: 1040px;
         }
      }


      .modalHeader {
         border-bottom: 1px solid #e5e5e5;
         padding: 15px;
         display: flex;
         align-items: flex-start;
         justify-content: space-between;
         gap: 10px;

         .closeBtn {
            color: #382169;
            border: none;
            background-color: transparent;
            padding: 0;
            
            svg {
               transition: 0.3s ease;
            }
            
            &:hover {
               
               svg {
                  transform: rotate(90deg);
               }
            }
         }

         .title {
            color: #37135b;
            font-weight: 600;

            a {
                  color: variables.$accent-color;
                  font-size: 14px;
                  font-weight: 500;
                  text-decoration: none;
                  word-break: break-all;

                  &:hover {
                     text-decoration: underline;
                  }
            }
         }
      }


      .modalBody {
         padding: 15px;
         max-height: 80vh;
         overflow-y: auto;
         
         iframe{
            border: 0px;
         }
      }

      .loadingSpinner {
         display: block;
         width: 30px;
         height: 30px;
         margin: 30px auto;
      }


      // ==========================================================================================
      // ---------------- db and email overlay css ------------


      .field-row {
         clear: both;
         display: flex;
         border-bottom: 1px solid $db-overlay-bottom-border;
         overflow: auto;

         &:last-child{
            border-bottom: 0px;
         }
      }

      .field-title {
         width: 320px;
         float: left;
         padding: 10px 5px;
         font-weight: bold;
         display: flex;
         align-items: center;
      }

      .field-value {
         width: calc(100% - 320px);
         float: right;
         padding: 10px 5px;
      }

      .modal-title {
         color: $db-overlay-title-color;
         font-weight: bold;
         display: flex;
         align-items: center;
      }

      .th_header {
         width: 30%;
      }

      .th_data {
         width: 60%;
      }

      @media screen and (max-width:767px) {
         .field-title {
            width: 30%;
            word-break: break-all;
         }

         .field-value {
            width: 70%;
         }
      }

      @media screen and (min-width:768px) and (max-width:1024px) {
         .field-title {
            width: 30%;
            word-break: break-all;
         }

         .field-value {
            width: 70%;
         }
      }
   
      
}
